<div class="row">
  <br>
</div>
<div class="row">
  <div class="col-md-6 card">
    <h1>Summary</h1>
    <div class="col-md-4 col-md-offset-1">
      <br>
      <p>Total Runs:</p>
      <p>Total Distance:</p>
      <br>
      <p>Average Distance:</p>
      <p>Average Pace:</p>
      <br>
      <p>Last Run:</p>
    </div>
    <div class="col-md-6">
      <br>
      <p><%= @runs_summary[:num_runs] %></p>
      <p><%= @runs_summary[:total_distance] %> miles</p>
      <br>
      <p><%= @runs_summary[:avg_distance] %> mi/run</p>
      <p><%= @runs_summary[:avg_pace] %> per mile</p>
      <br>
      <p><%= @runs_summary[:last_run_time] %> (<%= @runs_summary[:days_ago] %>)</p>
    </div>
  </div>
  <div class="col-md-6 card">
    <h1>Current Goal</h1>
    <div class="col-md-4">
      <br>
      <p>Description:</p>
      <p>Progress:</p>
      <p>Status:</p>
    </div>
    <div class="col-md-6">
      <br>
      <p><%= @goal.distance_mi.round(1) %> miles by <%= @goal.end_time.strftime("%b %d") %> (<%= (@goal.days_left.to_i/7.0).round(1) %> weeks left)</p>
      <p><%= (@goal.completed_distance / @goal.distance_mi * 100).round(1) %>% (<%= @goal.completed_distance.round(1) %> / <%= @goal.distance_mi.round(1) %> mi )</p>
      <p><%= (@goal.completed_distance - @goal.planned_distance).round(1) %> mi ahead of schedule</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="goalChart"> </div>
      </div>
    </div>
  </div>
</div>