<div class="row">
  <br>
</div>
<div class="row">
  <div class="col-md-6 card">
    <h1 class="card-header">Summary</h1>

    <div style="text-align: center">
      <div class="gauge">
        <div class="gauge-data"><%= @runs_summary[:total_distance] %><span> mi</span></div>
        <hr class="blue">
        <div class="gauge-label">distance</div>
      </div>

      <div class="gauge">
        <div class="gauge-data"><%= @runs_summary[:num_runs] %></div>
        <hr class="blue">
        <div class="gauge-label">runs</div>
      </div>
      <br>

      <div class="gauge">
        <div class="gauge-data"><%= @runs_summary[:avg_distance] %><span> mi</span></div>
        <hr class="blue">
        <div class="gauge-label">avg distance</div>
      </div>

      <div class="gauge">
        <div class="gauge-data"><%= @runs_summary[:avg_pace] %></div>
        <hr class="blue">
        <div class="gauge-label">avg pace</div>
      </div>

      <div class="gauge">
        <div class="gauge-data">
          <span><b><%= @runs_summary[:last_run_time] %></b> (<%= @runs_summary[:days_ago] %>)</span></div>
        <hr class="blue">
        <div class="gauge-label">last run</div>
      </div>
    </div>
  </div>
  <div class="col-md-6 card">
    <div class="row">
      <div class="col-md-10">
        <h1 class="card-header">Current Goal</h1>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <br>
      <p>Description:</p>
      <p>Progress:</p>
      <p>Status:</p>
    </div>
    <div class="col-md-8">
      <br>
      <p><%= @goal.distance_mi.round(1) %> miles by <%= @goal.end_time.strftime("%b %d") %> (<%= (@goal.days_left.to_i/7.0).round(1) %> weeks left)</p>
      <p><%= (@goal.completed_distance / @goal.distance_mi * 100).round(1) %>% (<%= @goal.completed_distance.round(1) %> / <%= @goal.distance_mi.round(1) %> mi )</p>
      <p><%= (@goal.completed_distance - @goal.planned_distance).round(1) %> mi ahead of schedule</p>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div id="goalChart"> </div>
      </div>
    </div>
  </div>
</div>