<div>
<h1>Running Charts</h1>
</div>
<div id="chartRunsByDistance" data-x='<%= @distances %>' data-y='<%= @num_runs %>' style="width: 400px; height: 300px; display: inline-block"></div>
<div id="chartRunsByDayOfWeek" data-x='<%= @days_of_week %>' data-y='<%= @num_runs_wday %>' style="width: 400px; height: 300px; display: inline-block"></div>
<div id="chartAvgDistanceByDayOfWeek" data-x='<%= @wday %>' data-y='<%= @avg_distance %>' style="width: 400px; height: 300px; display: inline-block"></div>
