<h1>Running Charts</h1>
<br>

<div class="col-md-4">
  <div id="chartRunsByDistance" data-x='<%= @distances %>' data-y='<%= @num_runs %>' style='height: 300px'></div>
</div>
<div class="col-md-4">
  <div id="chartRunsByDayOfWeek" data-x='<%= @days_of_week %>' data-y='<%= @num_runs_wday %>' style='height: 300px'></div>
</div>
<div class="col-md-4">
  <div id="chartAvgDistanceByDayOfWeek" data-x='<%= @wday %>' data-y='<%= @avg_distance %>' style='height: 300px'></div>
</div>