<h1>Running Goals</h1>

<table class="table table-condensed table-hover">
  <thead>
    <tr>
        <th>Dates</th>
        <th>Distance</th>
        <th>Progress</th>
    </tr>
  </thead>
  <tbody>
    <% @goals.each do |goal| %>
      <tr data-link="<%= nike_goal_path(goal) %>">
        <td><%= goal.start_time.strftime("%b %d") %> - <%= goal.end_time.strftime("%b %d") %></td>
        <td><%= goal.distance_mi %> mi</td>
        <td><%= (goal.completed_distance / goal.distance_mi * 100).round(1) %>% (<%= goal.completed_distance.round(1) %> / <%= goal.distance_mi.round(1) %> mi )</td>
      </tr>
    <% end %>
  </tbody>
</table>