<h1>Goal Stats</h1>
<br>

<div class="col-md-3">
  <p>
    <strong>Start Date:</strong>
    <%= @goal.start_time.strftime("%m/%d/%Y (%A)") %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= (@goal.end_time - 1.day).strftime("%m/%d/%Y (%A)") %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= @goal.duration_wk %> weeks
  </p>

  <p>
    <strong>Distance:</strong>
    <%= @goal.distance_mi %> miles (<%= @goal.distance_mi / @goal.duration_wk %> mi/week)
  </p>

  <p>
    <strong>Run Stats:</strong> <br>
    &nbsp&nbsp&nbsp&nbsp<%= @goal.get_runs.count %> runs <br>
    &nbsp&nbsp&nbsp&nbsp<%= @goal.get_runs.map { |r| r.distance_mi }.sum.round(2) %> miles
  </p>
</div>

<div class="col-md-8">
  <div id="goalChart"></div>
</div>


