<h1>Showing Goal</h1>

<p>
  <strong>Title:</strong>
  <%= @goal.title %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @goal.start_time %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @goal.end_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @goal.duration_wk %> weeks
</p>

<p>
  <strong>Distance:</strong>
  <%= @goal.distance_mi %> miles
</p>

<p>
  <strong>Run Stats:</strong> <br>
  &nbsp&nbsp&nbsp&nbsp<%= @goal.get_runs.count %> runs <br>
  &nbsp&nbsp&nbsp&nbsp<%= @goal.get_runs.map { |r| r.distance_mi}.sum.round(2) %> miles
</p>

<p>
  <strong>Chart:</strong>
<div id="goalChart" style="width: 1000px; height: 500px; display: inline-block"> </div>

</p>


